body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container{
    padding: 10px;
    margin: 10px;
}

button{
    width: 100%;
}

.row{
    padding-top: 2%;
}


#formInvullen{
    float: left;
    border: solid;
    margin-left: 2%;
    width: 60%;
}

#containerMelding{
    float: right;
    border: solid;
    width: 30%;
    margin-right: 2%;
}

#showBetaling{
background-color: #83a3d6;
color: #0f387a;
}

#showGoedGedaan{
background-color: #7bd46c;
color: #1f7a0f;
}

#showError{
background-color: #d46c6c;
color: #a60d0d;
}

